gymnasium==1.2.3
lightning==2.6.0
lpips==0.1.4
matplotlib==3.10.8
mss==10.1.0
numpy==2.4.1
opencv_python==4.11.0.86
pygame==2.6.1
pytest==9.0.2
pyvjoystick==1.1.2.1
pywin32==306
PyYAML==6.0.2
PyYAML==6.0.3
tensordict==0.10.0
tensordict_nightly==2025.12.30
torch==2.9.1+cu126
torchrl==0.10.1
torchrl_nightly==2025.8.31
torchvision==0.24.1+cu126
